<div class="navbar-fixed">
  <nav class="light-blue">
    <div class="nav-wrapper">
      <a class="brand-logo" href="#">Interview Prep</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a ui-sref="test">Test</a>
        </li>
        <li>
          <a ui-sref="questions">Questions</a>
        </li>
        <li>
          <a ui-sref="challenges">Challenges</a>
        </li>
        <li>
          <a ui-sref="resources">Resources</a>
        </li>

        <li>
          <a href="#">
            <i class="material-icons left">mode_edit</i>
            New Post
          </a>
        </li>

        <li>
          <a href="#">
            <i class="material-icons left">vpn_key</i>
            Login
          </a>
        </li>
        <li>
          <a class="dropdown-button" data-activates="dropdown" href="#!">Profile
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>

      </ul>
    </div>
  </nav>
</div>

<!-- Profile Dropdown -->

<ul class="dropdown-content" id="dropdown">
  <li>
    <a href="#!">Profile</a>
  </li>
  <li>
    <a href="#!">Something</a>
  </li>
  <li>
    <a href="#!">Something else</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#!">Logout</a>
  </li>
</ul>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating red">
        <i class="material-icons">insert_chart</i>
      </a>
    </li>
    <li>
      <a class="btn-floating yellow darken-1">
        <i class="material-icons">format_quote</i>
      </a>
    </li>
    <li>
      <a class="btn-floating green">
        <i class="material-icons">publish</i>
      </a>
    </li>
    <li>
      <a class="btn-floating blue">
        <i class="material-icons">attach_file</i>
      </a>
    </li>
  </ul>
</div>
