<h5>List of other resources for further studying</h5>

<h6>Useful tools:</h6>
<a href="http://www.pythontutor.com/">http://www.pythontutor.com/</a>

<h6>Front End Interview Prep:</h6>
<a href="http://www.toptal.com/javascript#hiring-guide">http://www.toptal.com/javascript#hiring-guide</a>
<a href="https://www.reddit.com/r/javascript/comments/3f7rx5/been_interviewing_with_a_lot_of_tech_startups_as/">https://www.reddit.com/r/javascript/comments/3f7rx5/been_interviewing_with_a_lot_of_tech_startups_as/</a>
<a href="https://frontendmasters.gitbooks.io/front-end-handbook/content/index.html">https://frontendmasters.gitbooks.io/front-end-handbook/content/index.html</a>

<br>

<h6>Interesting Articles:</h6>
<a href="http://rmurphey.com/blog/2012/04/12/a-baseline-for-front-end-developers">http://rmurphey.com/blog/2012/04/12/a-baseline-for-front-end-developers</a>
<a href="http://www.toptal.com/web/top-10-mistakes-that-web-developers-make">http://www.toptal.com/web/top-10-mistakes-that-web-developers-make</a>
<a href="https://medium.com/javascript-scene/10-interview-questions-every-javascript-developer-should-know-6fa6bdf5ad95#.rybgltucy">https://medium.com/javascript-scene/10-interview-questions-every-javascript-developer-should-know-6fa6bdf5ad95#.rybgltucy</a>

<br>

<h6>Algorithms:</h6>
<a href="http://www.thatjsdude.com/interview/js1.html">http://www.thatjsdude.com/interview/js1.html</a>
<a href="http://www.sitepoint.com/5-javascript-interview-exercises/">http://www.sitepoint.com/5-javascript-interview-exercises/</a>
<a href="http://www.toptal.com/javascript/interview-questions">http://www.toptal.com/javascript/interview-questions</a>

<br>

<h6>Other:</h6>
<a href="https://github.com/lukehoban/es6features">https://github.com/lukehoban/es6features</a>
<a href="https://github.com/rmurphey/js-assessment">https://github.com/rmurphey/js-assessment</a>
<a href="https://www.quora.com/First-Jobs-2/How-can-a-self-educated-programmer-lacking-professional-experience-market-themselves-as-a-qualified-applicant-seeking-their-first-full-time-job-opportunity">https://www.quora.com/First-Jobs-2/How-can-a-self-educated-programmer-lacking-professional-experience-market-themselves-as-a-qualified-applicant-seeking-their-first-full-time-job-opportunity</a>
