<h5>List of other resources for further studying</h5>

<h6>Useful tools:</h6>
<p>http://www.pythontutor.com/</p>


<h6>Front End Interview Prep:</h6>
http://www.toptal.com/javascript#hiring-guide
<p>https://www.reddit.com/r/javascript/comments/3f7rx5/been_interviewing_with_a_lot_of_tech_startups_as/</p>
<p>https://frontendmasters.gitbooks.io/front-end-handbook/content/index.html</p>

<h6>Interesting Articles:</h6>
<p>http://rmurphey.com/blog/2012/04/12/a-baseline-for-front-end-developers</p>
<p>http://www.toptal.com/web/top-10-mistakes-that-web-developers-make</p>
<p>https://medium.com/javascript-scene/10-interview-questions-every-javascript-developer-should-know-6fa6bdf5ad95#.rybgltucy</p>

<h6>Algorithms:</h6>
http://www.thatjsdude.com/interview/js1.html
http://www.sitepoint.com/5-javascript-interview-exercises/
http://www.toptal.com/javascript/interview-questions

<h6>Other:</h6>
https://github.com/lukehoban/es6features
https://github.com/rmurphey/js-assessment
https://www.quora.com/First-Jobs-2/How-can-a-self-educated-programmer-lacking-professional-experience-market-themselves-as-a-qualified-applicant-seeking-their-first-full-time-job-opportunity
